:root {
    --orange: #ff5400;
    --light-gray: #6c6c6c;
    --black: #131318;
    --white: #fff;
    --dark-btn: #044040;
    --white-transparent: rgba(255, 255, 255, 0.3);
    --my-screen-width: 100vw;
}

@media screen and (max-width: 600px) {
    .navbar {
        max-width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-container {
        position: relative;
        text-align: end;
    }

    .menu {
        display: none;
        position: absolute;
    }

    .menu-short {
        display: block;
        font-size: 30px;
    }

    .menu-container:hover .menu {
        display: block;
        padding: 5px;
        right: 0;
        background: var(--white);
    }

    .menu > ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        max-width: 95vw;
        margin: 0 auto;
    }

    /* banner section */
    #cover-banner {
        height: 1080px;
        max-width: 95vw;
        padding: 5px;
        gap: 15px;
    }

    #find-place {
        flex-direction: column;
        width: 70vw;
    }

    /* tour section */

    .tour-section {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .tour-desc {
        width: 80%;
    }

    .tour-img-container {
        width: 90%;
    }

    /* choose destination section */

    .choose-destination > p {
        width: 90%;
    }

    .choose-destination-img-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 300px);
        row-gap: 10px;
        column-gap: 10px;
    }

    #dest-img-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #dest-img-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    #dest-img-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    #dest-img-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    #dest-img-5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    #dest-img-6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }
    #dest-img-7 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }

    /* styles for our services section */
    .our-services,
    #msg {
        max-width: 95vw;
    }

    .card {
        max-width: 95vw;
    }

    .card p {
        max-width: 90vw;
    }

    .card-container {
        grid-template-columns: (1, 1fr);
        grid-template-rows: (3, 310px);
        row-gap: 15px;
        column-gap: 15px;
        justify-content: center;
    }

    .card-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .card-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .card-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    /* style for deals and discount */
    .deals-promo {
        width: 80%;
    }

    .deals-discount {
        max-width: 95vw;
        border: 5% auto;
    }

    .large-card {
        max-width: 90vw;
        height: 750px;
        position: relative;
    }

    .deal-card {
        width: 70vw;
        height: fit-content;
        gap: 10px;
        z-index: 5;
    }

    .large-card .deal-card {
        position: relative;
        left: 0%;
        top: 40%;
        margin: 0 auto;
    }

    /* styles for package section */
    .package{
        flex-direction: column;
    }

    .package-detail{
        width: 100%;
    }

    .package-img-container{
        width: 100%;
    }

    /* styles for client review section */
    .client-review-section {
        height: 1300px;
    }


    /* styles for newsletter */
    .newsletter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1000px;
    }

    .newsletter-msg {
        max-width: 95vw;
    }

    .newsletter-img {
        max-width: 95vw;
    }

    /* styles for footer */
    footer {
        min-width: 100vw;
    }

    footer p {
        max-width: 80%;
    }
}
