:root {
    --orange: #ff5400;
    --light-gray: #6c6c6c;
    --black: #131318;
    --white: #fff;
    --dark-btn: #044040;
    --white-transparent: rgba(255, 255, 255, 0.3);
    --my-screen-width: 1440px;
}

@media screen and (max-width: 600px) {
    .navbar {
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu-container {
        position: relative;
        text-align: end;
    }

    .menu {
        display: none;
        position: absolute;
    }

    .menu-short {
        display: block;
        font-size: 30px;
    }

    .menu-container:hover .menu {
        display: block;
        padding: 5px;
        right: 0;
        background: var(--white);
    }

    .menu > ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        max-width: 570px;
        margin: 0 auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* banner section */
    #cover-banner {
        height: 1080px;
    }

    #find-place {
        flex-direction: column;
    }

    /* tour section */

    .tour-section {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .tour-desc {
        width: 80%;
    }

    .tour-img-container {
        width: 90%;
    }

    /* choose destination section */

    .choose-destination > p {
        width: 90%;
    }

    .choose-destination-img-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 300px);
        row-gap: 10px;
        column-gap: 10px;
    }

    #dest-img-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #dest-img-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    #dest-img-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    #dest-img-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    #dest-img-5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    #dest-img-6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }
    #dest-img-7 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
    }

    /* styles for our services section */
    .card-container {
        grid-template-columns: (1, 1fr);
        grid-template-rows: (3, 310px);
        row-gap: 15px;
        column-gap: 15px;
        justify-content: center;
    }

    .card-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .card-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .card-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    /* styles for newsletter */
    .newsletter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1000px;
    }

    /* styles for client review section */
    .client-review-section {
        height: 1300px;
    }

    /* styles for footer */
    footer {
        min-width: 600px;
    }
}
